body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.site-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
    background-color: #0093b1;
    color: gold;
}

.main-nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.contact-info {
    text-align: center;
}

.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.contact-form label {
    font-weight: bold;
}

fieldset label {
    font-weight: normal;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    padding: 8px;
    font-size: 14px;
}

.contact-form button {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    /*box-shadow: 0 8px 15px rgba(255, 75, 43, 0.3);
    transition: all 0.3s ease;*/
    height: 50px;
    transform: translateY(-1px);
    box-shadow: 0 8px 15px rgba(255, 75, 43, 0.4);
}

legend {
    font-weight: bold;
}

.team {
    border: 2px solid black;
    margin-bottom: 20px;
}

.team .profiles {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.team h2 {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.profile {
    flex: 1;
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

.profile img {
    width: 200px;
    /* fixed width */
    height: 200px;
    /* fixed height */
    object-fit: cover;
    /* crop nicely if photo isn’t square */
    border-radius: 50%;
    /* optional: circular profile look */
} 

footer {
    background-color: #0093b1;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

footer p {
    text-align: center;
}




