* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: lightblue;
    color: ;
}
h1 {
    margin: 1rem;
}
form {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: thistle;
    color: black;
}
input{
    
}

code {
    display: inline-block;
    background-color: black;
    color: white;
}
.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

.quiz-item {
    border:;
}